:host {
  display: block;
}

:host([opened]) {

  .select {

    .toggle-button {
      color: var(--primary-color);
    }
  }
}

.select {
  position: relative;

  .input {
    width: 100%;
  }

  .toggle-button {
    right: 1rem;
    top: 1rem;
    position: absolute;
    color: var(--input-dropdown-icon-color);
  }
}