:host {
  font-family: var(--paper-font-body1_-_font-family);
  -webkit-font-smoothing: var(--paper-font-body1_-_-webkit-font-smoothing);
  font-size: var(--paper-font-body1_-_font-size);
  font-weight: var(--paper-font-body1_-_font-weight);
  line-height: var(--paper-font-body1_-_line-height);
  color: var(--primary-text-color);
}

.area-card {
  position: relative;
  overflow: hidden;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .place-logo {
      height: 50px;
      margin-right: 16px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .place-info {

      .name {
        margin-bottom: 4px;
        color: inherit;
        font-family: inherit;
        font-size: var(--ha-card-header-font-size, 24px);
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .climate {
        margin: 0 -8px;
        display: flex;
      }
    }
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      width: calc(50% - 20px);
      margin: 0;
      padding: 10px;
    }
  }

  .card-footer {

  }
}
