:host {
  display: block;
}

.dc-gauge {
  filter: none;
  position: relative;

  .gauge {
    position: relative;
    z-index: 1;

    &.animated {
      animation-name: flicker;
      animation-timing-function: linear;
      animation-duration: 800ms;
    }
  }

  .value {
    left: 0;
    right: 0;
    transform: translateY(-100%);
    text-align: center;
    position: absolute;
    z-index: 2;
  }

  .label {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    position: relative;
    z-index: 3;
  }

  &.disabled {

    .gauge {
      filter: grayscale(1) brightness(0.6);
    }
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    filter: grayscale(1) brightness(0.6);

  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    filter: none;
  }
}