:host {
  --slider-height: 100%;
  --slider-width: 26px;
  --slider-thumb-size: 20px;
  --slider-padding: calc((var(--slider-width) - var(--slider-thumb-size)) / 2);
  --slider-value: 0px;


  --slider-track-color: var(--disabled-color, #464646);
  --slider-track-color-active: var(--primary-color, #2196f3);
  --slider-track-color-disabled: var(--disabled-color, #464646);
  --slider-thumb-color: var(--primary-text-color, #FFFFFF);
}

.lc-vertical-slider {
  height: var(--slider-height);
  width: var(--slider-width);
  padding: var(--slider-padding);
  background-color: var(--slider-track-color);
  border-radius: 9999px;
  box-sizing: border-box;
  position: relative;

  .thumb {
    top: var(--slider-value);
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    border-radius: 50%;
    background-color: var(--slider-thumb-color);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / .4);
    position: relative;
    z-index: 2;
  }

  &:after {
    content: " ";
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--slider-height) - var(--slider-value));
    min-height: var(--slider-width);
    border-radius: 9999px;
    background-color: var(--slider-track-color-active);
    display: block;
    position: absolute;
    z-index: 1;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .7;

    &:after {
      display: none;
    }
  }
}

