:host {

}

.edit-entity-row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

hui-header-footer-editor {
  padding-top: 4px;
}

ha-textfield {
  display: block;
  margin-bottom: 16px;
}