ha-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#states {
  flex: 1;
}

#states > * {
  margin: 8px 0;
}

#states > *:first-child {
  margin-top: 0;
}

#states > *:last-child {
  margin-bottom: 0;
}

#states > div > * {
  overflow: clip visible;
}

#states > div {
  position: relative;
}

.icon {
  padding: 0px 18px 0px 8px;
}

.header {
  border-top-left-radius: var(--ha-card-border-radius, 12px);
  border-top-right-radius: var(--ha-card-border-radius, 12px);
  margin-bottom: 16px;
  overflow: hidden;
}

.footer {
  border-bottom-left-radius: var(--ha-card-border-radius, 12px);
  border-bottom-right-radius: var(--ha-card-border-radius, 12px);
  margin-top: -16px;
  overflow: hidden;
}