:host {
  display: block;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > * {
    width: auto;
    display: block;
  }
}

.yaml-editor {

  .error {
    margin-top: 8px;
    color: var(--error-color);
    font-size: 13px;
  }
}