:host {

}

button {
  width: 100%;
  height: var(--feature-height);
  border-radius: var(--feature-border-radius);
  background-color: var(--feature-color);
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.15s ease;
  font-size: 1rem;
  font-weight: 600;
  color: var(--feature-text, var(--primary-text-color));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {

  }

  &:active {
    transition: all 0s ease;

    @supports (color: hsl(from white h s l)) {
      box-shadow: inset 0 0 4px rgb(from var(--card-background-color) r g b / calc(alpha * 0.7));
    }
  }
}