$tooltip-bg-color: rgba(var(--rgb-secondary-background-color), .95);
$tooltip-border-color: var(--divider-color);
$tooltip-border-radius: 4px;
$tooltip-border-width: .5px;
$tooltip-text-color: var(--primary-text-color);
$tooltip-font-size: 12px;

$shadow-fade: rgba(0, 0, 0, .3);
$arrow-size: 6px;
$margin: calc(var(--tooltip-arrow-size, #{$arrow-size}) * 2);
$corner-position: calc(var(--tooltip-arrow-size, #{$arrow-size}) / 2);
$y-position: calc(100% - (var(--tooltip-arrow-size, #{$arrow-size}) / 2));

%base-arrow {
  border: var(--tooltip-arrow-size, #{$arrow-size}) solid transparent;
  height: 0;
  width: 0;
}

@mixin tooltip {
  cursor: pointer;
  position: relative;

  &::after {
    background-color: var(--tooltip-bg-color, #{$tooltip-bg-color});
    border-radius: var(--tooltip-border-radius, #{$tooltip-border-radius});
    border: var(--tooltip-border-width, #{$tooltip-border-width}) solid var(--tooltip-border-color, #{$tooltip-border-color});
    box-shadow: 0 0 0.1875rem rgba(0, 0, 0, .3);
    color: var(--tooltip-text-color, #{$tooltip-text-color});
    content: attr(aria-label);
    font-family: var(--paper-font-body1_-_font-family);
    font-size: var(--tooltip-font-size, #{$tooltip-font-size});
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    padding: 0.5em 1em;
    text-indent: 0;
    text-shadow: none;
    white-space: nowrap;
    z-index: 10;
  }

  &::before {
    content: "";
    z-index: 11;
  }

  &::after,
  &::before {
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: all .12s ease-out .12s;
    transition-delay: var(--tooltip-delay-hide, 0s);
  }

  &:hover, &:focus {

    &::before, &::after {
      opacity: 1;
      transition-delay: var(--tooltip-delay-show, 0s);
    }
  }
}

@mixin tooltip-top {
  &[data-tooltip-pos="top"] {

    &::after {
      margin-bottom: $margin;
    }

    &::before {
      @extend %base-arrow;

      border-top-color: var(--tooltip-border-color, #{$tooltip-border-color});
      filter: drop-shadow(0 1px $shadow-fade);
    }

    &::after,
    &::before {
      bottom: $y-position;
      left: 50%;
      transform: translate(-50%, 6px);
      transform-origin: top;
    }

    &:hover,
    &:focus {
      &::after,
      &::before {
        transform: translate(-50%, 0);
      }
    }
  }
}

@mixin tooltip-bottom {
  &[data-tooltip-pos="bottom"] {
    &::after {
      margin-top: $margin;
    }

    &::before {
      @extend %base-arrow;

      border-bottom-color: var(--tooltip-border-color, #{$tooltip-border-color});
      filter: drop-shadow(0 1px $shadow-fade);
    }

    &::after,
    &::before {
      left: 50%;
      top: $y-position;
      transform: translate(-50%, -6px);
      transform-origin: bottom;
    }

    &:hover,
    &:focus {
      &::after,
      &::before {
        transform: translate(-50%, 0);
      }
    }
  }
}

@mixin tooltip-left {
  &[data-tooltip-pos="left"] {
    &::after {
      margin-right: $margin;
    }

    &::before {
      @extend %base-arrow;

      border-left-color: var(--tooltip-border-color, #{$tooltip-border-color});
      filter: drop-shadow(1px 0 $shadow-fade);
    }

    &::after,
    &::before {
      right: $y-position;
      top: 50%;
      transform: translate(6px, -50%);
      transform-origin: left;
    }

    &:hover,
    &:focus {
      &::after,
      &::before {
        transform: translate(0, -50%);
      }
    }
  }
}

@mixin tooltip-right {
  &[data-tooltip-pos="right"] {
    &::after {
      margin-left: $margin;
    }

    &::before {
      @extend %base-arrow;

      border-right-color: var(--tooltip-border-color, #{$tooltip-border-color});
      filter: drop-shadow(-1px 0 $shadow-fade);
    }

    &::after,
    &::before {
      left: $y-position;
      top: 50%;
      transform: translate(-6px, -50%);
      transform-origin: right;
    }

    &:hover,
    &:focus {
      &::after,
      &::before {
        transform: translate(0, -50%);
      }
    }
  }
}
