:host {
  --gauge-needle-position: 0deg;
  display: block;

  .lc-gauge {
    width: 100%;
    height: auto;

    .dial-plate {
      stroke: rgb(0, 0, 0);
      stroke-width: 0;
      stroke-linejoin: round;
    }

    .scale {
      font-weight: 400;
      font-size: 5px;
      font-family: Roboto, Noto, sans-serif;
      fill: var(--secondary-text-color);
    }

    .pointer {
      transform: rotate(var(--gauge-needle-position));

      path {
        fill: var(--primary-text-color);
      }
    }

    .value {
      font-size: 14px;
      font-weight: 400;
      font-family: Roboto, Noto, sans-serif;
      fill: var(--primary-text-color);
    }

    .label {
      font-size: 7px;
      font-weight: 400;
      font-family: Roboto, Noto, sans-serif;
      fill: var(--primary-text-color);
    }

    &.disabled {

      .gauge {
        filter: grayscale(1) brightness(0.6);
      }
    }
  }
}
