
.color-selector {

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;

    .color-button {
      padding: 0;
      background-color: transparent;
      border: none;
      font-size: 14px;
      text-transform: capitalize;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:before {
        content: " ";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-inline-end: 0.75rem;
        background-color: var(--lc-color-button);
      }
    }
  }

  .more-button {
    margin: 14px 0 8px;
    text-align: center;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      color: var(--secondary-text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .color-input {
    margin-top: 1rem;
    width: 100%;
  }
}